    <footer role="contentinfo">
        <div class="grid-container">
          <!-- <iframe id="facebook" frameborder="0" src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fjamesbakerweb&width=300&layout=button_count&action=like&show_faces=false&share=false&height=21&appId=290434611141804"></iframe>
          <div>
            <script src="//platform.linkedin.com/in.js" type="text/javascript">
            lang: en_US
            </script>
            <script type="IN/Share" data-url="http:www.jamesbaker.me.uk" data-counter="right"></script>
          </div> -->
          <div class="grid-12">            
            <ul class="social">
              <li><a href="https://www.facebook.com/jamesbakerweb" class="facebook" target="_blank" title="View this sites Facebook page."></a></li>
              <li><a href="https://plus.google.com/u/0/101974566721405999519" class="google" target="_blank" title="View my Google+ profile"></a></li>
              <li><a href="https://github.com/JayboBaker" class="github" target="_blank" title="View my Github profile"></a></li>
              <li><a href="uk.linkedin.com/pub/james-baker/79/33b/460/en" class="linkdin" target="_blank" title="View my Linkdin profile"></a></li>
            </ul>
            
            <nav role="navigation" class="footer-nav">
              <ul>
                <li><a href="#header" class="scroll-link" title="Return to the top.">Home</a></li>
                <li><a href="#about" class="scroll-link" title="Return to the 'About' section.">About</a></li>
                <li><a href="#skills" class="scroll-link" title="Return to the 'Skills' section.">Skills</a></li>
                <li><a href="#contact" class="scroll-link" title="Return to the 'Contact' section.">Contact</a></li>
              </ul>
            </nav>
              <p>Designed by <a href="https://plus.google.com/101974566721405999519" rel="me" target="_blank">James Baker</a></p>
          </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/main.min.js"></script>

    </body>
</html>