<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <meta name="viewport" content="width=device-width,,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"> -->

      <link rel="stylesheet" href="css/main.css">
      <title>James Baker. Web Developer.</title>
      <meta name="description" content="Portfolio Website for James Baker a Contract Web Developer based in West Sussex, Uk and always seeking interesting roles." />
      <meta name="keywords" content="Web Developer, Web Development, James Baker, Front End Developer, HTML5, CSS3, HTML, CSS, javascript, jQuery, Grunt, SASS, PHP." />
      
      <!-- Facebook Optimization -->
      <meta property="og:title" content=""/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content=""/>
      <meta property="og:url" content="http://www.jamesbaker.me.uk"/>
      <meta property="og:description" content="">
      <meta property="og:locale" content="en_GB" />
      <meta property="og:site_name" content="JamesBakerWeb Development " />
      <meta property="fb:admins" content=""/>
      
      <!-- Bing Verification -->
      <meta name="msvalidate.01" content="C58A99DAA5FCE608C9773F1D98ACE3B1" />
      
      <!-- Author James Baker Google+ Account -->
      <link rel="author"  href="https://plus.google.com/101974566721405999519?rel=author"/>
      <!-- Publisher Diamond Cars Google+ Account -->
      <link rel="publisher" href="https://plus.google.com/101974566721405999519"/>
      
      <link rel="canonical" href="jamesbaker.me.uk/" />
      <!-- Company icon -->
      <link rel="shortcut icon" href="img/jb_web.ico">
      <!--  <link rel="apple-touch-icon" href="/custom_icon.png"/> -->
      <!-- <link rel="icon" type="image/png" href="http://example.com/myicon.png"> -->
    </head>
    <body>
      <header role="banner" id="header">
        <div>
          <div class="main-logo"><a href="index.html">JB Web <span>Developer</span></a></div> 
          
          <a href="#" class="menu-toggle menu-icon" title="Open side menu."></a>
          <nav role="navigation" class="main-menu">
            <h4>Menu <a href="#" class="menu-toggle" title="Close side menu.">×</a></h4>
            <ul class="nav-links">
              <li><a href="#skills" class="scroll-link">Skills</a></li>
              <li><a href="#about" class="scroll-link">About</a></li>
              <li><a href="#contact" class="scroll-link">Contact</a></li>

            </ul>
            <ul class="social">
              <li><a href="https://www.facebook.com/jamesbakerweb" class="facebook" target="_blank" title="View this sites Facebook page."></a></li>
              <li><a href="https://plus.google.com/u/0/101974566721405999519" class="google" target="_blank" title="View my Google+ profile"></a></li>
              <li><a href="https://github.com/JayboBaker" class="github" target="_blank" title="View my Github profile"></a></li>
              <li><a href="uk.linkedin.com/pub/james-baker/79/33b/460/en" class="linkdin" target="_blank" title="View my Linkdin profile"></a></li>
            </ul>
          </nav>

        </div>    
      </header>
       <noscript>
        <div class="grid-container js-message">
          <div class="grid-12">
            <h4>This site works best with Javascript enabled.</h4>
            <p><a href="http://www.enable-javascript.com/" target="_blank">Instructions on "How to enable JavaScript in your web browser"</a>.</p>
            <br/>
            <p>or</p>
            <br/>
            <p><a href="http://browsehappy.com/" target="_blank">Somewhere to download the latest web browsers</a>.</p>
          </div>
        </div>
      </noscript>
